*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
section{
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
section video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
section h2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 20vw;
    line-height: 0.65em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    font-weight: 1000;
    background: rgba(0,0,0,0.9);
    color: #fff;
    mix-blend-mode: multiply;
}
section h2 span{
    font-size: 0.4em;
    line-height: 00.85em;
}